html,
body {
  width: 400px;
  height: 600px;
}

.ant-form .ant-form-item .ant-form-item-label {
  flex: 0 0 25% !important;
  text-align: right !important;
}
.ant-form .ant-form-item .ant-form-item-control {
  flex: 1 !important;
  padding-left: 6px;
}
